<form name="contact" action="https://formspree.io/f/xzbkyvgk" method="POST">
    <div class="input text-center">
        <input type="text" placeholder="お名前" name="name"
            class="w-full lg:w-4/5 mt-3 p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500"
            required>
    </div>
    <div class="input text-center">
        <input type="text" placeholder="メールアドレス" name="mail"
            class="w-full lg:w-4/5 mt-3 p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500"
            required>
    </div>
    <div class="input text-center">
        <input type="text" placeholder="題名" name="title"
            class="w-full lg:w-4/5 mt-3 p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500"
            required>
    </div>
    <div class="input text-center">
        <select name="type"
            class="w-full lg:w-4/5 mt-3 p-4 bg-gray-200 border border-gray-200 focus-outline-none focus:bg-white focus-gray-500"
            required>
            <option value="">お問い合わせの種類</option>
            <option value="Blog">ブログについて</option>
            <option value="Product">制作物について</option>
            <option value="Request">依頼</option>
            <option value="Other">その他</option>
        </select>
    </div>
    <div class="input text-center">
        <textarea rows="8" cols="30" placeholder="メッセージ" name="message"
            class="w-full lg:w-4/5 mt-3 p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500"
            required></textarea>
    </div>
    <div class="text-center">
        <input type="submit" value="送信"
            class="w-full lg:w-4/5 mt-3 button py-3 px-9 duration-200 bg-gray-800 text-white cursor-pointer transition-colors hover:bg-gray-400">
    </div>
</form>