---
import LinkCard from "../components/LinkCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
  <div class="mt-28 pb-32 md:pb-0">
    <div class="container mx-auto max-w-7xl z-20">
      <div class="mx-4">
        <h2 class="text-3xl mb-4 font-semibold font-futura">Contact</h2>
        <p>
          運営しているサイト・サービスへの質問等々ありましたらこちらからどうぞ。
          <br />
          メールで連絡していただけると助かります。
        </p>
        <div
          class="text-white grid grid-cols-1 sm:grid-cols-2 md:grid-ols-3 lg:grid-cols-4 gap-4 mt-10"
        >
          <LinkCard
            class="bg-zinc-800"
            icon="fa6-solid:envelope"
            title="Mail(main)"
            user="ainznino@pm.me"
            href="mailto:ainznino@pm.me"
          />
          <LinkCard
            class="bg-zinc-800"
            icon="fa6-solid:envelope"
            title="Mail(sub)"
            user="endxop@gmail.com"
            href="mailto:endxop@gmail.com"
          />
          <LinkCard
            class="bg-zinc-800"
            icon="fa6-solid:envelope"
            title="Mail(中国用)"
            user="ainznino@126.com"
            href="mailto:ainznino@126.com"
          />
          <LinkCard
            class="bg-discord"
            icon="fa6-brands:discord"
            title="Discord"
            user="wamo#8600 / wamosc"
          />
          <LinkCard
            class="bg-black"
            icon="fa6-brands:x-twitter"
            title="X(Twitter)"
            user="@freez_c"
            href="https://x.com/freez_c"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>
