---
import { WorksComponent } from "../components/WorksComponent";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Works">
  <div class="mt-28">
    <div class="container mx-auto max-w-7xl pb-20 z-20">
      <div class="mx-4">
        <h2 class="text-3xl mb-4 font-semibold font-futura">Works</h2>
        <WorksComponent client:load />
      </div>
    </div>
  </div>
</Layout>
