<div class="text-white mt-4" id="content">
    <div class="flex flex-col justify-center items-center text-center h-v8">
        <div class="md:block lg:flex">
            <img src="https://avatars2.githubusercontent.com/u/39876629" class="w-48 mx-auto rounded-full" />
            <h2 class="py-3 px-4 text-center lg:text-left">wamo
                <p class="text-lg">趣味でwebサイトや動画を作ってる人。</p>
                <a href="https://twitter.com/scgame_m"
                    class="circle w-12 h-12 items-center hover:bg-white hover:text-black"><span
                        class="icon icon-twitter"></span></a>
                <a href="https://github.com/opera7133"
                    class="circle w-12 h-12 items-center hover:bg-white hover:text-black"><span
                        class="icon icon-github"></span></a>
                <a href="https://www.youtube.com/channel/UCWwPrIQCPvjH3mce-CVfCIA"
                    class="circle w-12 h-12 items-center hover:bg-white hover:text-black"><span
                        class="icon icon-youtube"></span></a>
                <a href="https://t.me/wamo_sc"
                    class="circle w-12 h-12 items-center hover:bg-white hover:text-black"><span
                        class="icon icon-telegram"></span></a>
            </h2>
        </div>
    </div>
</div>
