<footer class="dark:text-white">
    <script src="/js/script.js"></script>
    <script>
    document.querySelector('.scroll-top').addEventListener('click', () => {
        document.documentElement.scrollTop = 0;
    });
    </script>
        <div class="container mx-auto p-3">
            <select class="inline-block duration-100 bg-white dark:bg-gray-800 my-3 text-center py-2 px-4 border-2 border-black dark:border-white hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-black"
            name="lang" onChange="location.href=value;">
                <option>{{ .Site.Language.LanguageName }}</option>
                {{ range .Translations }}
                <option value="{{ .Permalink }}">{{ .Site.Language.LanguageName }}</option>
                {{ end }}
            </select>
            <p>CopyRight &copy; 2021 <a href="/" class="hover:text-gray-400">wamo</a></p>
        </div>
</footer>