<div class="mt-4" id="content">
    <div class="container mx-auto max-w-7xl flex flex-col justify-center items-center lg:items-start text-center h-v8 dark:text-white">
        <div class="md:block lg:flex">
            <img src="{{ .Site.Params.main.image }}" class="w-48 mx-auto border-4 shadow-2xl rounded-full"
                alt="profile icon" />
            <h2 class="py-3 px-4 text-center lg:text-left">{{ .Site.Params.main.username }}
                <p class="text-lg">{{ i18n "about" . }}</p>
                {{ range .Site.Data.sns.socialLinks }}
                {{ if eq .name "Email" }}
                <a href="mailto: {{ .url }}"
                    class="border border-black dark:border-white rounded-full m-1 inline-flex duration-150 w-12 h-12 items-center hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-gray-800"
                    aria-label="Twitter Link"><span class="{{ .icon }}"></span></a>
                {{ else if eq .name "Phone" }}
                <a href="tel: {{ .url }}"
                    class="border border-black dark:border-white rounded-full m-1 inline-flex duration-150 w-12 h-12 items-center hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-gray-800"
                    aria-label="Twitter Link"><span class="{{ .icon }}"></span></a>
                {{ else }}
                <a href="{{ .url }}"
                    class="border border-black dark:border-white rounded-full m-1 inline-flex duration-150 w-12 h-12 items-center hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-gray-800"
                    aria-label="Twitter Link"><span class="{{ .icon }}"></span></a>
                {{ end }}
                {{ end }}
            </h2>
        </div>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-0">
        {{ range (where site.RegularPages "Section" "works") }}
        <div class="">
            <a href="{{ .Permalink }}">
                <img class="h-full w-full object-cover hover:opacity-60 duration-200 " src="{{ .Params.img | absURL }}" alt="{{ .Title }}" />
            </a>
        </div>
        {{ end }}
    </div>
</div>