{{- $url := .Get "url" -}}
{{- if not $url -}}
    {{- $url := "#" -}}
{{- end -}}
<div class="block md:inline-block my-3 md:mr-2">
    <a href="{{ $url }}">
        <div class="flex bg-gray-100 dark:bg-gray-900 p-5 rounded-lg">
            <div class="text-black dark:text-white text-3xl mr-4 mt-2">
                <span class='icon-{{ .Get "icon" }}'></span>
            </div>
            <div class="block">
                <strong class="text-black dark:text-white leading-4">{{ .Get "name" }}</strong>
                <br>
                <span class="text-black dark:text-white leading-4 text-base">{{ .Get "text" }}</span>
            </div>
        </div>
    </a>
</div>
