---
import { ClientRouter } from "astro:transitions";
import Header from "../components/Header.astro";
import "../styles/global.css";
import { SEO } from "astro-seo";

export interface Props {
  title?: string;
  description?: string;
  noindex?: boolean;
}
const {
  title = "",
  description = "wamo's personal website",
  noindex = false,
} = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <SEO
      title={title}
      titleTemplate="%s | wmsci.com"
      titleDefault="wmsci.com"
      description={description}
      noindex={noindex}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: "https://wmsci.com/img/news-icon.png",
        },
      }}
      twitter={{
        creator: "@scgame_m",
        card: "summary",
      }}
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="sitemap.xml" type="application/xml" />
    <link rel="stylesheet" href="https://use.typekit.net/gdc2fvk.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;500;700&display=swap"
    />
    <script
      async
      src="https://analytics.ja1ykl.com/script.js"
      data-website-id="e0fa97aa-eac4-47b7-b14b-710f6224c81d"></script>
    <script>
      document.documentElement.classList.toggle(
        "dark",
        localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
      );
    </script>
  </head>
  <body>
    <div class="min-h-screen overflow-hidden dark:bg-zinc-900 dark:text-white">
      <Header />
      <div id="main-content">
        <slot />
      </div>
    </div>
  </body>
</html>
