{{ define "meta_tags" }}

<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:title" content="{{ .Site.Title }} | {{ .Site.Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:locale" content="ja_JP" />
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="{{ .Title }}">

{{ if .Params.image }}
    {{ with .Params.image }}
    <meta property="og:image" content="{{ . | absURL }}">
    <meta property="og:image:url" content="{{ . | absURL }}">
    {{ end }}
{{ else }}
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image | absURL }}">
    <meta property="og:image:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_image | absURL }}">
{{ end }}

{{- if .Description }}
  <meta property="og:description" content="{{ substr .Description 0 130 | plainify }}" />
  <meta property="twitter:description" content="{{ substr .Description 0 130 | plainify }}" />
{{- else if .Summary }}
  <meta property="og:description" content="{{ substr .Summary 0 130 | plainify }}" />
  <meta property="twitter:description" content="{{ substr .Summary 0 130 | plainify }}" />
{{- else if .Site.Params.description }}
  <meta property="og:description" content="{{ substr .Site.Params.description 0 130 | plainify }}" />
  <meta property="twitter:description" content="{{ substr .Site.Params.description 0 130 | plainify }}" />
{{- end }}
{{ end }}

{{ define "main" }}
    <div class="mx-3 px-2 dark:text-white">
        <h1 class="title text-5xl mt-3">{{.Title}}</h1>
        <div class="content text-lg py-3 mb-3">{{.Content}}</div>
    </div>
{{ end }}